doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        h1 Citibike Trip Planner
        #map
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlfG3P6hzRA5TP9HutLotNg8yLM-6lM1U&callback=initMap" async defer)
        script(src="script.js")
