doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        h1 Citibike Trip Planner
        #map
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlfG3P6hzRA5TP9HutLotNg8yLM-6lM1U&callback=initMap" async defer)
        script(type="text/javascript" src="script.js")
